
.richtext
{
  width: 100%;
  height: 500px;
  border: 1px #888 solid;
}

.richtext_toolbar,
.richtext_discard
{
	border-bottom: 1px #888 solid;
}

.richtext_discard
{
	text-align: right;
	vertical-align: top;
}

.richtext_frame
{
	width: 100%;
	height: 100%;
}



.richtext_body
{
	font-size: 10pt;
	font-family: arial;
}

.richtext_body table
{
	font-size: 10pt;
	font-family: arial;
	empty-cells: show;
	border-collapse: collapse;
	border: 1px solid gray;
}

.richtext_body table td
{
	width: 50px;
	height: 24px;
}



.toolbar
{
	padding: 0px;
	font-size: 8pt;
	font-family: arial;
}

.toolbar td
{
	padding: 2px 0px 0px 0px;
	vertical-align: top;
	border-left: 1px solid #CCC;
}

.toolbar img
{
	border: none;
	vertical-align: middle;
}

.toolbar_button,
.toolbar_selected,
.toolbar_disabled
{
	color: #555;
	margin: 1px;
	padding: 3px;
	cursor: pointer;
	text-decoration: none;
	line-height: 200%;
	white-space: nowrap;
	
}

.toolbar_button:hover
{
	padding: 2px;
	text-decoration: none;
	border: 1px solid #79b4dc;
	background-color: #def0fa;
}

.toolbar_selected
{
	padding: 1px;
	text-decoration: none;
	border: 1px solid #79b4dc;
	background-color: #def0fa;
}

.toolbar_disabled
{
	color: #888;
	cursor: default;
}

.toolbar_disabled img
{
	opacity: 0.3;
	filter: alpha(opacity=30);
}

.popup
{
  top: 0px;
  display: none;
  position: absolute;
  border: 1px solid #888;
  font-size: 10pt;
  font-family: arial;
  background-color: white;
}

.menu_item
{
	display: block;
	color: #555;
	margin: 1px;
	padding: 3px;
	cursor: pointer;
	text-decoration: none;
}

.menu_item:hover
{
	padding: 2px;
	text-decoration: none;
	border: 1px solid #79b4dc;
	background-color: #def0fa;
}

.menu_item_color,
.menu_item_color_over
{
	width: 13px;
	height: 13px;
	empty-cells: show;
	border: 1px solid white;
}

.menu_item_color_over
{
	border: 1px solid gray;
}

.menu_table table
{
	border-top: 1px solid gray;
	border-left: 1px solid gray;
}

.menu_table thead td
{
	color: #555;
	font-size: 8pt;
	background-color: #DDD;
}

.menu_item_cell,
.menu_item_cell_over
{
	width: 12px;
	height: 12px;
	empty-cells: show;
	border-right: 1px solid gray;
	border-bottom: 1px solid gray;
}

.menu_item_cell_over
{
	border-right: 1px solid #ff0000;
	border-bottom: 1px solid #ff0000;
	background-color: #ffff00;
}


.menu_item_chars,
.menu_item_chars_over
{
	padding: 2px;
	cursor: default;
	text-align: center;
	border: 1px solid white;
}

.menu_item_chars_over
{
	border: 1px solid gray;
}


.rt_dropdown_link span
{
	cursor: default;
}


/* Imported from MergeIcons Tool */

.icons,.icons_align_center,.icons_align_left,.icons_align_right,.icons_bold,.icons_bullets,.icons_clearformat,.icons_close,.icons_column_delete,.icons_copy,.icons_cut,.icons_datetime,.icons_dropdown,.icons_empty,.icons_fontcolor,.icons_fontsizedown,.icons_fontsizeup,.icons_highlight,.icons_image,.icons_indent,.icons_italic,.icons_justify,.icons_line,.icons_link,.icons_link_remove,.icons_numbering,.icons_paste,.icons_redo,.icons_row_delete,.icons_ruler,.icons_save,.icons_saveclose,.icons_search,.icons_source,.icons_specialchars,.icons_strikethrough,.icons_subscript,.icons_supperscript,.icons_table,.icons_table_above,.icons_table_below,.icons_table_delete,.icons_table_left,.icons_table_right,.icons_undent,.icons_underline,.icons_undo,.icons_user
{background-image: url(icons.png); border: none}
.icons_align_center{ background-position: 0px -0px }
.icons_align_left{ background-position: 0px -16px }
.icons_align_right{ background-position: 0px -32px }
.icons_bold{ background-position: 0px -48px }
.icons_bullets{ background-position: 0px -64px }
.icons_clearformat{ background-position: 0px -80px }
.icons_close{ background-position: 0px -96px }
.icons_column_delete{ background-position: 0px -112px }
.icons_copy{ background-position: 0px -128px }
.icons_cut{ background-position: 0px -144px }
.icons_datetime{ background-position: 0px -160px }
.icons_dropdown{ background-position: 0px -176px }
.icons_empty{ background-position: 0px -192px }
.icons_fontcolor{ background-position: 0px -208px }
.icons_fontsizedown{ background-position: 0px -224px }
.icons_fontsizeup{ background-position: 0px -240px }
.icons_highlight{ background-position: 0px -256px }
.icons_image{ background-position: 0px -272px }
.icons_indent{ background-position: 0px -288px }
.icons_italic{ background-position: 0px -304px }
.icons_justify{ background-position: 0px -320px }
.icons_line{ background-position: 0px -336px }
.icons_link{ background-position: 0px -352px }
.icons_link_remove{ background-position: 0px -368px }
.icons_numbering{ background-position: 0px -384px }
.icons_paste{ background-position: 0px -400px }
.icons_redo{ background-position: 0px -416px }
.icons_row_delete{ background-position: 0px -432px }
.icons_ruler{ background-position: 0px -448px }
.icons_save{ background-position: 0px -464px }
.icons_saveclose{ background-position: 0px -480px }
.icons_search{ background-position: 0px -496px }
.icons_source{ background-position: 0px -509px }
.icons_specialchars{ background-position: 0px -525px }
.icons_strikethrough{ background-position: 0px -541px }
.icons_subscript{ background-position: 0px -557px }
.icons_supperscript{ background-position: 0px -573px }
.icons_table{ background-position: 0px -589px }
.icons_table_above{ background-position: 0px -605px }
.icons_table_below{ background-position: 0px -621px }
.icons_table_delete{ background-position: 0px -637px }
.icons_table_left{ background-position: 0px -653px }
.icons_table_right{ background-position: 0px -669px }
.icons_undent{ background-position: 0px -685px }
.icons_underline{ background-position: 0px -701px }
.icons_undo{ background-position: 0px -717px }
.icons_user{ background-position: 0px -733px }