
.richtext_popup
{
  display: none;
  position: absolute;
  border: 1px solid #888;
  font-size: 10pt;
  font-family: arial;
  background-color: white;
}


/* Popup Menu */
.richtext_menu_item
{
	color: #555;
	margin: 1px;
	padding: 3px;
	cursor: pointer;
	display: block;
	text-decoration: none;
}

.richtext_menu_item:hover
{
	padding: 2px;
	border: 1px solid #79b4dc;
	text-decoration: none;
	background-color: #def0fa;
}

/* Popup Colour Menu */
.richtext_colour_item,
.richtext_colour_item_hover
{
	width: 13px;
	height: 13px;
	empty-cells: show;
	border: 1px solid white;
}

.richtext_colour_item_hover
{
	border: 1px solid #ff0000;
}

/* Popup Special Chars */
.richtext_chars_item,
.richtext_chars_item_hover
{
	padding: 2px;
	cursor: default;
	text-align: center;
	border: 1px solid white;
}

.richtext_chars_item_hover
{
	border: 1px solid #ff0000;
}

/* Popup Link */
.richtext_link span
{
	cursor: default;
}


/* Generic popup table */
.richtext_popup_table table
{
	border-top: 1px solid gray;
	border-left: 1px solid gray;
}

.richtext_popup_table thead td
{
	color: #555;
	font-size: 8pt;
	background-color: #DDD;
}

/* Popup Insert Table */
.richtext_itable_cell,
.richtext_itable_cell_hover
{
	width: 12px;
	height: 12px;
	empty-cells: show;
	border-right: 1px solid gray;
	border-bottom: 1px solid gray;
}

.richtext_itable_cell_hover
{
	border-right: 1px solid #ff0000;
	border-bottom: 1px solid #ff0000;
	background-color: #ffff00;
}





