
.richtext_content
{
	font-size: 10pt;
	font-family: arial;
}

.richtext_content table
{
	font-size: 10pt;
	font-family: arial;
	empty-cells: show;
	border: 1px solid gray;
	border-collapse: collapse;
}

.richtext_content table td
{
	width: 50px;
	height: 24px;
}