
.richtext
{
	width: 100%;
	height: 100%;
	border: 1px #888 solid;
}

.richtext_bar,
.richtext_discard
{
	border-bottom: 1px #888 solid;
}

.richtext_discard
{
	text-align: right;
	vertical-align: top;
}

.richtext_frame
{
	width: 100%;
	height: 100%;
}
